header {
     background-color: #4dd2ff;
     height: 140px;
     
}
h1 {
   text-align: center;
   padding-top: 25px;
   padding-bottom: 5px;
  
}

header p{
   text-align: center;
   padding-bottom: 25px;
} 

input[type=submit] {
   width: 100px;
  
}

button {
   width: 80px;
}

footer {
   background-color: #4dd2ff;
   padding-top: 15px;
   padding-bottom: 15px;
   height: 120px;
}

section {
   background-color: #ccf2ff;
}

form {
   padding-top: 10px;
   padding-bottom: 10px;
}

h4 { 
   font-size: 120%
}
